# Git
.git
.gitignore

# typescript files
*.ts

# Docker configs
Dockerfile
Makefile
docker-compose.yml

# NPM dependancies
node_modules
npm-debug.log

# Other
.editorconfig
.ebextensions
logging.conf